<ion-header class="header" padding>
    <div class="container">
      <div class="scores">
        <div class="scores__item">{{ scores }}</div>
        <div class="scores__current" *ngIf="current">{{ current }}</div>
      </div>
      <ion-title class="title">
        2048
      </ion-title>
    </div>  
  </ion-header>
  
  <ion-content padding>
    <game-playground [size]="size"></game-playground>
  </ion-content>
  
  <ion-footer class="footer" padding>
    <div class="container">
      <button ion-button class="footer__button" (click)="restart()">NEW</button>
      <button ion-button class="footer__button" (click)="showRules()">RULES</button>
    </div>
  </ion-footer>