$containerWidth: 800px;

.container {
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    width: 100%; 

    .container {
        display: flex;
        justify-content: space-between;
    }

    .title {
        flex-shrink: 1;
        text-align: right;
    }
}

.footer {
    width: 100%;

    .container {
        display: flex;
        justify-content: center;
    }
    

    &__button {
        box-sizing: border-box;
        height: 60px;

        padding: 8px 12px;
        margin: 0 5px;
    }
}

